* {
    font-family: sans-serif;
}

body {
    background-color: rgb(218, 161, 192);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    color: rgb(46, 31, 22);

    width: 95vw;
    /* height: 100vh; */
    max-width: 600px;
    min-height: 600px;
    
    border-radius: 16px;
    padding: 16px;
}

.picture-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 16px;
    gap: 16px;
}

.img-picture {
    border-width: 4px;
    border-color: pink;

    /* max-width: 90%; */
    max-width: 90%;
    max-height: 200px;
}