#plushie {

    height: 300px;
    border-radius:16px ;

}

p {

    color: pink;
    font-family: sans-serif;

}

.blue { 

    color:blue;

}

.box {

    background:grey;
    padding-top: 16px;
    padding-right: 34px;
    padding-bottom: 25px;
    padding-left: 12px;

}